<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Quiz App</title>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в Quiz App!</h1>
        <div class="instructions">
            <p>Используйте кнопки ниже, чтобы протестировать API-запросы:</p>
        </div>
        <div class="columns">
            <div class="column">
                <h2>Получить вопрос</h2>
                <button onclick="window.open('/api/get_question/any', '_blank')">Случайный</button>
                <button onclick="window.open('/api/get_question/sports', '_blank')">Спорт</button>
                <button onclick="window.open('/api/get_question/history', '_blank')">История</button>
                <button onclick="window.open('/api/get_question/science', '_blank')">Наука</button>
                <button onclick="window.open('/api/get_question/geography', '_blank')">География</button>
                <button onclick="window.open('/api/get_question/math', '_blank')">Математика</button>
            </div>
            <div class="column">
                <h2>Создать вопрос</h2>
                <button onclick="window.open('/api/new_question/any', '_blank')">Случайный</button>
                <button onclick="window.open('/api/new_question/sports', '_blank')">Спорт</button>
                <button onclick="window.open('/api/new_question/history', '_blank')">История</button>
                <button onclick="window.open('/api/new_question/science', '_blank')">Наука</button>
                <button onclick="window.open('/api/new_question/geography', '_blank')">География</button>
                <button onclick="window.open('/api/new_question/math', '_blank')">Математика</button>
            </div>
        </div>
        <footer>
            <p>Все права защищены? &copy; 2024</p>
        </footer>
    </div>
</body>
</html>
